.header{
    background-color: $brand-white;
    border-bottom: 1px solid $brand-outline;
     
    
}



// //////////////logo //////////////


.header__link-logo{
    text-decoration: none;
    color: $brand-black;
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: inline-block;
        padding-top: 25px;
        padding-bottom: 25px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);


        &:hover, &:focus{
            color: $brand-blue
        }
        &:active{
            color: $brand-blue;
        }
    }


    .header__text-web {
        color: $brand-blue;
    }



.aclive-page{
    color: $brand-blue;
}

.header__container{
            display: flex;
        align-items: center;
        position: relative;
}




.menu-btn{
    flex: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    z-index: 1000;
    margin-left: auto;
    
    @media screen and (min-width:768px){
        display: none;
    }

    
    }




.menu-btn .icon-cross {
    display: none;
  }
  
  .menu-btn.is-open .icon-cross {
    display: block;
    
  }
  
  .menu-btn.is-open .icon-menu {
    display: none;
    
  }

  .mobile-menu{
@media screen and (max-width:767px){
    display: none;
position: fixed;
top: 0;
left: 0;
width: 100%; 
height: 100%;
background-color: $brand-white;
padding: 48px 83px 
48px 40px;
z-index: 1000;
display: flex;
flex-direction: column;
justify-content: space-between;

}
@media screen and (min-width:768px){
    display: flex;
    align-items: center;
    
    
}

@media screen and (min-width:1200px){
    width: 100%;

}

      &.is-open{
    display: block;
      }
      
  }

  .menu-btn:hover, .menu-btn:focus {
    fill: $brand-blue;
  }
  


    .header-nav__list, .header-adress__list{
    
    @media screen and (max-width:767px)    {
        font-weight: 500;
        font-size: 40px;
        line-height: 0.85;
        text-align: start;
        letter-spacing: 0.02em;
        color: $brand-black;
        }
        @media screen and (min-width:768px){
            display: flex;
            font-weight: 500;
            font-size: 14px;
            line-height: 0.87;
            letter-spacing: 0.02em;
            
            
        }
        @media screen and (min-width:1200px){
            align-items: center;
        }
                
            }
.header-nav__list{

    @media screen and (max-width:767px){
        

    }
    @media screen and (min-width:768px){
        margin-left: 88px;

    }


    @media screen and (min-width:1200px){
    margin-left: 93px;
    }
}





    
.header-nav__item:not(:last-child) {
    @media screen and (max-width:767px) {
    margin-bottom: 32px;

    }
    @media screen and (min-width:768px) {
        margin-right: 50px;
    }

}  
.header-adress__item:not(:first-child){
    @media screen and (max-width:767px){
        margin-bottom: 32px;
    }
    
}
.header-adress__item:not(:last-child){
    @media screen and (max-width:767px){
    
    }
    @media screen and (min-width:768px){
        margin-bottom: 10px;

        }
    @media screen and (min-width:1200px){
        margin-bottom: 0;
        margin-right: 50px;
        
        }
}



.header-nav__link{
    @media screen and (max-width:767px){
        color: $brand-black-studio;
        }

    @media screen and (min-width:768px){
        display: block;
    color: $brand-black-studio;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 32px 0;
    }

    &:hover, &:focus{
    color: $brand-blue;
    
    }



}

.current{
position: relative;
@media screen and (min-width:768px){
&::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -2px;
    border-radius: 2px;
    background-color: $brand-blue;
    display: block;
            }
        }
    }

.aclive-page{
    color: $brand-blue;
}

 ///////////////////nav-adress///////////////////

 .header-adress__list{
    
    @media screen and (max-width:767px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;
    
}
@media screen and (min-width:768px) {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
    
    
}
@media screen and (min-width:1200px) {
    flex-direction: row;
    margin-left: auto;

    
}



}

    .header-adress__link--tel{
        
        @media screen and (max-width:767px){
            font-weight: 500;
            font-size: 34px;
            line-height: 0.85;
            letter-spacing: 0.02em;
            color: $brand-blue;

            }
            @media screen and (min-width:768px){
                padding-bottom: 21px;
    
    
            }
            
        }
        
        


    
    
    
    .header-adress__link--mail {
                
                @media screen and (max-width:767px){
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 0.85;
                    letter-spacing: 0.02em;
                    color: $brand-grey;
                }
                @media screen and (min-width:768px){
                    padding-top: 21px;
                    margin-bottom: 10px;
                }
                @media screen and (min-width:1200px){
                    margin-bottom: 0;
                }
                

            }
            
.header-adress__link--tel, .header-adress__link--mail{
    @media screen and (min-width:768px) {
        display:flex;
        
        color: $brand-grey;
        align-items: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus{
        color: $brand-blue;}
    }
    @media screen and (min-width:1200px){
    padding: 32px 0;
    
    }
}


            .header-adress__icom--mail, .header-adress__icom--tel{
                        margin-right: 10px;
                        fill: currentColor;
                        @media screen and (max-width:767px){
                            display: none;
                        }
                }

            .header-messenger__list{
                display: none;

                @media screen and (max-width:767px){
                    display: flex;
                }
                
            }
            .header-messenger__item + .header-messenger__item {
            margin-left: 10px;
           
            }
            .header-messenger__item:not(:last-child){
                padding-right: 10px;
                border-right: 1px solid rgba(33, 33, 33, 0.2);
            }

            .header-messenger__link{
                font-weight: 500;
                font-size: 18px;
                line-height: 1.22;
                letter-spacing: 0.02em;
                color: $brand-blue;
                &:hover, &:focus{
                    color: $brand-black-studio;
                }
            }


