.hero{
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $brand-fon;
    text-align: center;
}



.hero__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $brand-white;
        margin-bottom: 30px;
        margin:0 auto;
        width: 360px;
        @media screen and (max-width: 767px){
            margin-bottom: 30px;
            
            
        }

        @media screen and (min-width:768px){
            margin-bottom: 30px;
        }

        @media screen and (min-width:1200px) {
            width: 696px;
            font-size: 44px;
        }
            
        }




.hero__overlane{
    
    // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
    // url("../images/backgraund/ImgBg.jpg");
    // width: 1600px;
    // min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
       
    //////// фон-телефона/////////
    @media screen and (max-width: 767px){
     
     background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("/images/backgraund/Hero-mob1x.jpg");
     
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("/images/backgraund/Hero-mob2x.jpg");
    }
    }
    //////// фон-планшета/////////
    @media screen and (min-width:768px){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("/images/backgraund/Hero-tablet1x\ .jpg");

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("/images/backgraund/Hero-tablet2x\ \ .jpg");
    }
    }
    //////// фон-компа/////////
    @media screen and (min-width:1200px){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("/images/backgraund/ImgBg.jpg");

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("/images/backgraund/Hero-dextop2x\ \ .jpg");
    }
    }
    

    
    
    

    
}


.hero__btn {
     
    padding: 10px 32px;
}
.hero__btn{
    &:hover, &:focus{
        background-color: $brand-btn;
        }
        &:active{
            background-color: $brand-btn;
            }
}