.hero{
    
    padding: 118px 0;
    background-color: $brand-fon;
    text-align: center;
    @media screen and (min-width:768px){
        padding: 118px 0;
    }
    @media screen and (min-width:1200px){
        padding: 200px 0;
    }
}



.hero__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.4;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $brand-white;
        min-width: 320px;
        margin: 0 auto;
        margin-bottom: 30px;
        
        @media screen and (min-width: 480px){
            width: 360px;
            
        }

        @media screen and (min-width:768px){
            
            
        }

        @media screen and (min-width:1200px) {
            width: 696px;
            font-size: 44px;
        }
            
        }
    .hero__cont{
        padding: 0;
    }



        .hero__overlane{
    
            // background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
            // url("../images/backgraund/ImgBg.jpg");
            // min-height: 600px;
            max-width: 1600px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            margin-left: auto;
            margin-right: auto;
        
            
               
            //////// фон-телефона/////////
            @media screen and (max-width: 479px){
             
             background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/backgraund/Hero-mob1x.jpg");
             
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/backgraund/Hero-mob2x.jpg");
            }
            }
            //////// фон-планшета/////////
            @media screen and (min-width:480px){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/backgraund/Hero-tablet1x\ .jpg");
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/backgraund/Hero-tablet2x\ \ .jpg");
            width: 100%;
            
            }
            }
            //////// фон-компа/////////
            @media screen and (min-width:1200px){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/backgraund/ImgBg.jpg");
        
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx){
                background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/backgraund/Hero-dextop2x\ \ .jpg");
            
            }
            }
    

    
    
    

    
}



.hero__btn {
     
    padding: 10px 32px;
}
.hero__btn{
    &:hover, &:focus{
        background-color: $brand-btn;
        }
        &:active{
            background-color: $brand-btn;
            }
}