.team{
    background-color: $brand-background-team;
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
    }
}

.team__title{
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    
    @media screen and (min-width:1200px) {
        font-size: 36px;
        line-height: 1.66;
        margin-bottom: 50px;
        
    }
}
/////////////////// list ////////////////////
.team__list{
    
    
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
    
    }


.team__item{

background: $brand-white;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

@media screen and (min-width:768px){

    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    }
    
    @media screen and(min-width:1200px){
       width: calc((100% - 8 * 15px) / 4);
    }
}



@media screen and(max-width:767px){
    .team__item:not(:last-child){
        margin-bottom: 30px;
    }
}

// //////////////////////caption //////////////

.team__poster{
    text-align: center;
    padding: 30px 32px 30px 32px;
    

    &--title{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color:  $brand-black;
        margin-bottom: 10px;
        }

    &--class{
        font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $brand-grey;
    margin-bottom: 16px;
    }
    
    }


    ////////////////////list-logo//////////////////////
    .team-roster{
        display: flex;
        justify-content: center;
    }

    .team-roster__item + .team-roster__item{
        margin-left: 10px;
    }
    .team-roster__svg{
        width: 20px;
        height: 20px;
        fill: $brand-link-svg;
        
        
    }

    .team-roster__svg{
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .team-roster__link{
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        
        cursor: pointer;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover, &:focus{
            background-color: $brand-blue;
            fill: $brand-white;
        }
    }

///// покраска иконок при фокусе//////////////////////

    .team-roster__svg{
        
        .team-roster__link:hover &, .team-roster__link:focus & {
            fill: $brand-white;
        }
    }

    // /////////////////конец///////////